{{#unless this.currentUser}}
  {{#if (includesTopic this.currentPath)}}
    <div class="row">
      <div class="consent_banner alert alert-info">
        <span>Log in to participate in the Pol.is conversation</span>
      </div>
    </div>
  {{/if}}
{{/unless}}