{{#unless this.currentUser}}
   {{#if (includesTopic this.currentPath)}}
        <div class="row">
            <div class="consent_banner alert alert-info">
            <span>Sign in to participate on Pol.is discussions</span>
            </div>
        </div>
    {{/if}}
{{/unless}}
