.polis-statement {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
}

.polis-container {
  display: flex;
  align-items: center;
  font-weight: 500;
  background-color: #03a9f4;
  font-size: 1.2em;
  color: white;
  height: 60px;
}

.polis-container-sign-in {
  display: flex;
  align-items: center;
  height: 60px;
}

.polis-statement {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
}

.polis-button {
  white-space: nowrap;
  align-self: flex-end;
  background-color: var(--primary-low);
  color: var(--primary);
  height: 100%;
  height: 60px;
}
